/******
Universal Styling
*******/

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.menu, ul,
li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    display: inline-block;
    position: relative;
    padding: 15px;
}

.menu, ul,
li, a:hover {
    color: white;
    transition: .5s;
}


body {
    background-image: linear-gradient(#091223, black)
}


h1,
h2 {
    font-family: braisetto, script;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #C9C9BF;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #C9C9BF;
}

th {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #C9C9BF;
}

table {
    text-align: left;
}