/******
Universal Styling
*******/

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
}

body{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sectiontop {
    /**background-image: linear-gradient(#091223, black);*/
    background: url("img/gatebkgrnd.png") center/cover fixed;
    text-align: center;
    min-height: 100vh;
    position: relative;
}

nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    padding-top: 15px;
}

.logo{
    padding: 30px 0px 60px 100px;
    width: 50%;
}

.menu {
    max-width: 90%;
    margin: 0 auto;
}

.menu, ul,
li {
    margin-bottom: 1px;
    display: inline-block;
    position: relative;
}

.menu ul li a {
    color: #C9C9BF;
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: .5s;
}

.menu ul li a:hover {
    color: white;
    transition: .5s;
}



/*Section one stylings*/

.sectionone {
    background-image: linear-gradient(#091223, black);
    margin: auto;
    position: relative;
    padding-top: 10%;
    min-height: 100vh;
    width: 100vw;
}

.record {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 400px;
    margin-left: 50%;
}

.tomb {
    position: relative;
    text-align: center;
    padding: 100px;
}

.imgabout {
    position: relative;
    text-align: center;
}

.imgabout img{
    position: relative;
    width: 450px;
    margin-top: 10%;
}

iframe {
    width: 100%;
    min-height: 100vh;

}

.sectionthree {
    background: url("img/theatre.png") center/cover fixed;
    padding: 10%;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
}

.sectionfour {
    background: linear-gradient(#830F24, #310911) center/cover fixed;
    height: auto;
    padding: 10%;
    position: relative;
    width: 100vw;
    text-align: center;
}

h1,
h2 {
    font-family: braisetto, script;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #C9C9BF;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #C9C9BF;
}

th, 
tr {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #C9C9BF;
}

.tours {
    text-align: center;
    padding: 10%;
}

.tours td:nth-child(4) {
    font-family: braisetto, script;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: white;
    background: #c9c9bf42;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}